<footer class="bg-black container-fluid p-5 ">
    <div class="row justify-content-between">
        <div class="col-12 text-center text-md-start col-md-6 align-items-center">
            <div>
                <ul class="p-0 m-0">
                    <li class="d-inline-block">
                        <a class="text-white-50" routerLink="/Contact">contact us</a>
                    </li>
                    <li class="d-inline-block"><a class="text-white-50" routerLink="/About">about us</a></li>
                </ul>
                <hr>
                <p class="text-white-50">Copyright 2024 © loay nabil frontend developer.</p>
            </div>
        </div>
        <div class="col-12 col-md-6 py-3 ">
            <div class="d-flex justify-content-md-end justify-content-center gap-5 ">
                <i class="fa-brands fa-cc-visa "></i>
                <i class="fa-brands fa-cc-mastercard"></i>
                <i class="fa-solid fa-money-bill"></i>
                <!-- <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon> -->
            </div>
        </div>
    </div>
</footer>