<section>
    <ngb-carousel class="carsoul">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper img1">
                <img src="../../../assets/carsoul4.jpeg" alt="Random first slide" />
            </div>
            <div class="carousel-caption">
                <h3 class="animate__animated animate__fadeInLeftBig">we are the best store in egypr</h3>
                <p class="animate__animated animate__fadeInRightBig">we here always for you</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/carsoul3.jpeg" alt="Random second slide" />
            </div>
            <div class="carousel-caption">
                <h3 class="animate__animated animate__fadeInRight">you will find everything about fashion here</h3>
                <p class="animate__animated animate__fadeInLeft">we wait you</p>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
                <img src="../../../assets/carsoul6.webp" alt="Random third slide" />
            </div>
            <div class="carousel-caption">
                <h3 class="animate__animated animate__fadeInLeft">choose any category</h3>
                <p>order now</p>
            </div>
        </ng-template>
    </ngb-carousel>
</section>