<section>
    <div class="imgcont row align-items-center justify-content-center p-0 m-0">
        <div class="overlay col-12">
        </div>
        <div class="text-center col-12 col-md-8 a ">
            <h1 class="animate__animated animate__fadeInDownBig">GLOBAL STORE</h1>
            <p class="animate__animated animate__fadeInUpBig mt-3">We are the best store in Egypt. We were established
                in 2018 and gained the trust of
                customers because
                we provide the best treatment and the best materials at the best prices.</p>
        </div>
    </div>

</section>