

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body{
    overflow-x: hidden;
}

section{
    padding: 7.5rem 0 0 0;
}
.padding{
padding: 0 3.5rem;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
